<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IRG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bibliotekaDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>vjezba2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vjezba3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>vjezba4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>vjezba5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>vjezba5poligon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>vjezba5tijela.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>vjezba6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>zad124-izracun_reflektiranog_vektora.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F2F37C118F40B070076902B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F46EF9518F47E370091B752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F47FF1F192F87FE0041F095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F55AD2418D38471006B46FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FB6BB35192EB81100A8ED03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD5C9D7192EAD8E00D3C616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FDF0C3118E3244A00665329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FDF0C3E18E326EE00665329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FDF0C5E18E32D0E00665329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FDF0C6F18E3941400665329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
